<div class="card my-2">
  <div class="body">
    <img class="w-100 cursor-pointer"
      [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
      alt="poster-image">

    <div class="container-vote position-absolute px-2 py-1">
      <span>50%</span>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row mx-0 my-1">
        <span class="title cursor-pointer">Avengers Infinity War</span>
      </div>
      <div class="row mx-0 my-1">
        <span class="sub-title">April 2018</span>
      </div>
    </div>
  </div>
</div>