<div class="card my-2">
  <div class="body">
    <img class="w-100 cursor-pointer"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAnheA5jRo1f_81YyVGOejTYsg3X7T9ljn5P_7ISQVI6oSyFiR&usqp=CAU"
      alt="poster-image">

    <div class="container-vote position-absolute px-2 py-1">
      <span>50%</span>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row mx-0 my-1">
        <span class="title cursor-pointer">Avengers Infinity War</span>
      </div>
      <div class="row mx-0 my-1">
        <span class="sub-title">April 2018</span>
      </div>
    </div>
  </div>
</div>