.card,
.footer {
  background: none;
  border: 0;
}

.img-not-found {
  background-color: #ffffff7d;
  height: 22rem;

  span {
    color: white;
    font-size: 1.2rem;
  }
}

img, .img-not-found {
  border-radius: 15px;
  overflow: hidden;
}


.container-vote {
  top: 24px;
  left: 21px;
  border-radius: 12px;
  color: white;
}

.footer {

  .title {
    font-size: 1.2rem;
    color: #e4f7ff;
  }

  .sub-title {
    font-size: 0.8rem;
    color: #9bcadd;
  }
}

.cursor-pointer {
    cursor: pointer;
}