<div class="main-container h-100" *ngIf="(movie$|async) ; let movie">
  <!-- Header -->
  <div class="containter-header row mx-0">
    <div class="position-absolute container-btn pt-5 pl-5" [routerLink]="['../../']">
      <img src="./../../assets/img/icons8-arrow-60.png" alt="">
    </div>
    <img class="w-100 h-100" src="https://images.unsplash.com/photo-1589808710416-24cf7ac026f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="cover_picture">
  </div>
  <!-- Sub - Header -->
  <div class="row mx-0 sub-header">
    <div class="col-md-8 col mx-auto">
      <div class="row mx-0">
        <div class="col-6 d-flex justify-content-end">
          <img *ngIf="!!movie.poster_path" [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="profile_picture">
          <div *ngIf="!movie.poster_path" class="img-not-found">
            <div class="container h-100">
              <div class="row my-auto h-100">
                <span class="m-auto"> Image not available </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="container h-100">
            <div class="container position-absolute info-sub-header">
              <span class="row mx-0 title">{{movie.title}}</span>
              <span class="row mx-0">{{movie.release_date| date}} • {{movie.vote_average}}/10 Rating</span>
              <span class="row mx-0">{{timeConvert(movie.runtime)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Body -->
  <div class="container container-body">
    <!-- Separator -->
    <div class="row">
      <hr class="col-7">
    </div>
    <!-- Title -->
    <div class="row">
      <span class="title col-10 col-md-7 mx-auto mb-4">Overview</span>
    </div>
    <!-- Description -->
    <div class="row">
      <span class="col-10 col-md-7 mx-auto">{{movie.overview}}</span>
    </div>
  </div>
</div>
