<div class="main-container h-100">

  <!-- header -->
  <div class="container-header position-relative">
    <div class="row position-absolute footer-header w-100">
      <div class="col-8 col-md-7 mx-auto container-search-bar py-3 px-2">
        <div class="row">
          <input type="text" placeholder="Search" class="pl-5 input-search w-100 col-9 col-md-10">
          <div class="col-3 col-md-2 d-flex justify-content-center">
            <img src="../../assets/img/icons8-search-50.png" alt="icon_search">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- list of popular movies -->
  <div class="container" *ngIf="(movies$|async); let movies">
    <div class="row container-title pl-4 header-title my-4">
      <span class="span-title">Popular Movies</span>
    </div>
    <div class="container">
      <div class="row">
        <app-card class="col-6 col-sm-3 col-md-3" *ngFor="let item of movies" [movie]="item"></app-card>
      </div>
    </div>
  </div>


  <!-- list of searching movie -->
  <!-- to do -->


</div>